<div class="container mx-auto p-4">
    <h2 class="text-xl font-bold mb-4">Historial Académico</h2>
  
    <div *ngIf="subjects$ | async as subjects; else noData">
      <div *ngFor="let subject of subjects">
        <h3 class="text-lg font-semibold mb-2">{{ subject.name }}</h3>
  
        <table class="table-auto w-full border-collapse border border-gray-300 mb-6">
          <thead>
            <tr class="bg-gray-100">
              <th class="border border-gray-300 p-2">Evaluación</th>
              <th class="border border-gray-300 p-2">Fecha</th>
              <th class="border border-gray-300 p-2">Temas</th>
              <th class="border border-gray-300 p-2">Calificación</th>
            </tr>
          </thead>
          <tbody>
            <!-- Recorremos las evaluaciones de la asignatura -->
            <tr *ngFor="let evaluation of subject.evaluations">
              <td class="border border-gray-300 p-2">{{ evaluation.topics }}</td>
              <td class="border border-gray-300 p-2">{{ evaluation.evaluationDate | date:'dd/MM/yyyy' }}</td>
              <td class="border border-gray-300 p-2">{{ evaluation.comments }}</td>
              <td class="border border-gray-300 p-2">
                <!-- Buscamos la calificación correspondiente a esta evaluación -->
                <ng-container *ngIf="evaluation.qualifications!.length; else noGrade">
                  <span *ngFor="let qualification of evaluation.qualifications">
                    {{ qualification.grade }}
                  </span>
                </ng-container>
                <ng-template #noGrade>
                  <span>No calificación</span>
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <ng-template #noData>
      <p class="text-center text-gray-500">No se encontraron datos.</p>
    </ng-template>
  </div>
  